.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 6rem;
    
}

section.jumbotron{
    box-shadow:
    0px 13.8px 8.8px rgba(0, 0, 0, 0.075),
    0px 33.3px 21.1px rgba(0, 0, 0, 0.096),
    0px 62.6px 39.7px rgba(0, 0, 0, 0.105),
    0px 111.7px 70.8px rgba(0, 0, 0, 0.108),
    0px 208.9px 132.4px rgba(0, 0, 0, 0.103),
    0px 500px 317px rgba(0, 0, 0, 0.07)
  ;
}
